<h1>Assign laptop</h1>

<form (ngSubmit)="search()">
    <div class="form-group">
        <label for="searchedName">Name</label>
        <input id="searchedName" type="text" class="form-control" [(ngModel)]="searchedName" name ="searchedName">
    </div>
    <button class="btn btn-primary">Search</button>
</form>

<div class="form-group">
    <label for="employeeName">Name</label>
    <input type="text" class="form-control" id="employeeName" [ngModel]="employee?.name" name = "employeeName">
</div>

<h2>Devices</h2>
<div *ngFor="let d of devicesNames">
    <label>{{d}}</label>
</div>

<h2>Assign new device<h2>
<form (ngSubmit)="assign()">
    <div class="form-group">     
        <select id="deviceId" class="form-control" (ngModelChange)="onDeviceChange($event)" [(ngModel)]="deviceId" name="deviceId">
            <option value=""></option>
            <option *ngFor="let d of devices" value="{{ d.id }}">{{ d.name }}</option>
        </select>
        <button class="btn btn-primary">Assign</button>
    </div>
</form>